/* CSS Document */
.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.nopadding {
	padding: 0 !important;
}

th {
	white-space: normal;
}

td {
	word-break: break-all;
	text-transform: lowercase;
	white-space: normal;
}

tr {
	white-space: nowrap !important;
}

.pgbtn {
	padding: 8px 20px !important
}

.firstdiv {
	margin-top: 90px;
}

.pagediv {
	margin-top: 95px;
}

.tophd {
	background: #174271 !important;
	padding: 5px 0;
	border-bottom: 1px solid #6699cc !important;
}

.topmenu {
	margin-top: 20px;
}

.banner {
	background: #194067;
	color: #FFF;
	margin-top: 90px;
	background-image: url(../images/banner_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% auto;
	background-position: center;
}

.hometext {
	font-size: 20px;
	margin-top: 110px;
}

.building {
	padding: 3px;
	border: 1px solid #D5F2FC;
	float: right;
	margin-bottom: 20px;
}

.slidetext {
	font-size: 25px;
}

.carousel {
	padding: 50px 0;
	font-family: 'HelveticaBQ-Light';
	font-weight: normal;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
}

.carousel-control {
	width: auto !important;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next
	{
	margin-right: -30px !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev
	{
	margin-left: -30px !important;
}

.gray-bg {
	background-color: #DDD !important;
}

.footer {
	background: #333;
	padding: 25px 0;
	color: #FFF;
	position: relative;
}

.footer a {
	color: #FFF;
}

.footer a:hover {
	color: #FFF;
}

img.map, map area {
	outline: none;
}

.i_date {
	min-width: 90px;
	max-width: 90px;
}

.i_context {
	min-width: 300px;
	max-width: 300px;
}

.i_target {
	min-width: 90px;
	max-width: 90px;
}

.i_targeted {
	min-width: 125px;
	max-width: 125px;
}

.i_hacker {
	min-width: 195px;
	max-width: 195px;
}

.i_subject {
	min-width: 300px;
	max-width: 300px;
}

.i_motive {
	min-width: 300px;
	max-width: 300px;
}

.i_malware {
	min-width: 125px;
	max-width: 125px;
}

.i_mname {
	min-width: 195px;
	max-width: 195px;
}

.i_system {
	min-width: 90px;
	max-width: 90px;
}

.i_msource {
	min-width: 195px;
	max-width: 195px;
}

.i_browser {
	min-width: 90px;
	max-width: 90px;
}

.i_note {
	min-width: 300px;
	max-width: 300px;
}

/* Tool Tips */
a.tooltip span {
	z-index: 10;
	display: none;
	padding: 5px 10px;
	margin-top: 0;
	margin-left: 15px !important;
	width: auto;
	line-height: 16px !important;
}

a.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #CCC;
	background: #FFF;
}

.callout {
	z-index: 20;
	position: absolute;
	top: 2px;
	border: 0;
	left: -12px;
}

a.tooltip span {
	border-radius: .5em;
	border: 1px solid #CCC;
	white-space: nowrap;
}
/* Tool Tips */
#adwareDiv, #ransomwareDiv, #wormDiv, #virusDiv, #spywareDiv, #trojanDiv,
	#malwareDiv, #poisonDiv, #hackerDiv {
	position: absolute;
	top: 100px;
	padding: 10px;
	border: 2px solid #337AB7;
	background: #FFF;
	width: 400px;
}

.ttp {
	right: -16px;
	position: absolute;
}

.star {
	font-weight: normal !important;
	color: #FF0000;
}

.homeh1, .homeh3, .boxh3 {
	font-family: 'HelveticaBQ-Light' !important;
	font-size: 45px;
	margin: 10px auto;
}

.homeh3 {
	font-size: 25px;
}
/*
.box-model,.box-methodology,.box-patterns,.box-aboutus{
	width:205px;
	height:205px;
	margin:0 auto;
	}
.box-model{
	background:url(../images/c_primary.png) no-repeat;
}
.box-methodology{
	background:url(../images/c_success.png) no-repeat;
	}
.box-patterns{
	background:url(../images/c_info.png) no-repeat;
	}
.box-aboutus{
	background:url(../images/c_warning.png) no-repeat;
	}	
*/
.boxh3 {
	font-size: 26px;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #f5f5f5;
}

.indexbox {
	width: 49%;
	border: 1px solid #DDD;
	border-radius: 5px;
	float: left;
	overflow: hidden;
	padding-bottom: 10px;
	cursor: pointer;
}

.indexbox p {
	padding: 10px;
}

.repeatchain {
	position: absolute;
	height: 192px;
	bottom: -155px;
	left: 0;
	right: 0;
	display: table;
	width: 100%;
}

.chaincelll {
	display: table-cell;
	background-image: url(../images/chain.png);
	background-repeat: repeat;
	background-position: right;
}

.chaincellr {
	display: table-cell;
	background-image: url(../images/chain.png);
	background-repeat: repeat;
	background-position: left;
}

.chaincellrr {
	display: table-cell;
	background-image: url(../images/chain1.png);
	background-repeat: repeat;
	background-position: left;
}

.holdingman {
	height: 192px;
	width: 1340px;
	display: table-cell;
}

.pullman {
	width: 102px;
	height: 192px;
	background: url(../images/man.png) no-repeat;
	display: table-cell;
}

.holdingchainfooter {
	position: absolute;
	height: 31px;
	top: -32px;
	left: 0;
	right: 0;
	background: url(../images/chain_footer.png);
}

.myTableText {
	width: 100%;
	border-collapse: collapse;
	margin-bottom:10px;
	/* background-color: #98FB98; */
}

.myTableText td, .myTableText th {
	border: 2px solid #47ae32;
	padding: 5px;
}

.myTableText th {
	font: bold 18px/1.1em Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 4px black;
	letter-spacing: 0.1em;
	background-color: #47ae32;
	color: #98FB98;
}

.myTableText td {
	font: normal 14px/1.5em Goudy, Georgia, serif;
	/* color: #47ae32; */
}

.myTableText td a:link {
	color: #006400;
	text-decoration: none;
}

.myTableText td a:visited {
	color: #006400;
}

.myTableText td a:hover {
	color: #FF4500;
	text-decoration: underline;
}

.myTableText td a:active {
	color: #FF0000;
}